<div class="list-container">
  <!--  <h3></h3>-->
  <mat-card>
    <mat-card-title>Admin List</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
      <mat-nav-list>
        <a mat-list-item *ngFor="let admin of admins" [routerLink]="['/admin/' + admin.ID]" [routerLinkActive]="['is-active']" [disableRipple]="false">
          <span matLine>{{admins.indexOf(admin) + 1}}. {{admin.Name}}</span>
          <span matLine class="email">{{admin.Email}}</span>
          <button mat-icon-button (click)="delAd($event, admins.indexOf(admin))" *ngIf="(rank == 2) || (rank == 1 && admin.ID == id)">
            <mat-icon matTooltip="Delete">delete</mat-icon>
          </button>
        </a>
      </mat-nav-list>
    </mat-card-content>
    <!--      <mat-divider></mat-divider>-->
  </mat-card>
  <div *ngIf="rank==2" class="add"><button mat-fab color="primary" (click)="createAd()"><mat-icon matTooltip="Add an Admin">add</mat-icon></button></div>
</div>

