.container form .form-group .form-control {
  /*border-radius: 4px;*/
  /*border-style: groove;*/
  /*width: 172px;*/
}

button {
  background-color: #555555;
}

.container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.container form .form-group {
  width: 100%;
  margin-top: 20px;
  justify-self: center;
}

.container h1 {
  margin-top: 5%;
  text-align: center;
}



.container {
  display: flex;
  flex-direction: column;
  /*background-color: #777777;*/
  padding: 30px 30px 100%;
  width: 100%;
}

.container > * {
  width: 100%;
}
