<app-banner></app-banner>
<mat-nav-list [disableRipple]="false">
  <a mat-list-item [routerLink]="['/detail']" [routerLinkActive]="['is-active']" [disableRipple]="false">
    <span matLine>Title</span>
    <button mat-icon-button (click)="onRemove($event)">
      <mat-icon>delete</mat-icon>
    </button>
  </a>
  <a mat-list-item [routerLink]="['/detail']" [routerLinkActive]="['is-active']" [disableRipple]="false">
    <span matLine>Title</span>
    <button mat-icon-button (click)="onRemove($event)">
      <mat-icon>delete</mat-icon>
    </button>
  </a>
  <a mat-list-item [routerLink]="['/detail']" [routerLinkActive]="['is-active']" [disableRipple]="false">
    <span matLine>Title</span>
    <button mat-icon-button (click)="onRemove($event)">
      <mat-icon>delete</mat-icon>
    </button>
  </a>
  <a mat-list-item [routerLink]="['/detail']" >
    <span matLine>Title</span>
    <button mat-icon-button (click)="onRemove($event)">
      <mat-icon>delete</mat-icon>
    </button>
  </a>
</mat-nav-list>
