.table {
  width: 100%;
}

button {
  margin: 2px;
}

mat-expansion-panel {
  margin: 5px;
}
p{
  padding-left: 16px;
  padding-right: 16px;
}

.mat-column-select {
  width: 10%;
  margin-right: 10px;
}

mat-icon {
  padding: 5px;
  border-radius: 50%;
}

.mat-icon-button{
  float: right;
}

.mat-icon-button:hover{
  background-color: transparent !important;
}

mat-icon:hover{
  background-color: #9c27b0 !important;
}
